/**
** common/header
**/

.native-header {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 40pt;
	color: #ffffff;
	background-color: rgb(9,159,222);
}
.native-header-box {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;

}
.native-header-title {
	color: #ffffff;
}

.native-header-leftButton {
	position: absolute;
	top: 0;
	left: 10pt;
	color: black;
}
.native-header-rightButton {
	position: absolute;
	right: 10pt;
	top: 0;
	background-color: white;
}

